.mob-nav{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
    height: 70px;
    border-bottom:1px solid white ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav{
    position: relative;
}
.mob-nav-left{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.mob-nav-left>img{
    width: 100%;
    height: 100%;
}
.sidebar{
    min-height: 100vh;
    width: min(250px,100vw);
    background-color: var(--grad2);
    box-shadow: 0 0 20px #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    padding: 20px 30px;
    overflow: hidden;
    transform:translateX(-260px);
    transition:.5s;
}
.logo-mob{
    width:50px;
    height:50px;
}
.logo-mob>img{
    width:100%;
    height:100%;
}
.mob-nav-links{
    color: #AFB1B8;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    letter-spacing:1px

}
.mob-nav-link{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    gap: 15px;
    display: inline-flex;
    align-items: center;
}
.mob-nav-right{
    margin-right: 10px;
}
.selected-fill{
    background-color:var(--grad1);
}