.form-container {
  position: absolute;
  transform: translate(-50%, -40%);
  top: 50%;
  left: 50%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.form-container > form > div {
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}
.form-container>form>div>div{
    display: flex !important;
    flex-direction: column;
}
form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}
form a:hover {
  text-shadow: 2px 2px 6px #000 40;
}
form a:active {
  text-shadow: none;
}
form input,form select {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 1.5rem;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff !important;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="email"]:focus,
form input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}
form input[type="button"]:hover {
  cursor: pointer;
}
form input[type="button"]:active {
  background: rgba(255, 255, 255, 0.2);
}
form:hover {
  margin: 4px;
}
::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.drop {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}
.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}
.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}
.drop-4 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}
.drop-4 p{
    text-align: center;
    height: min-content;
}
.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}
a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
[type="file"] {
  padding: 0;
  height: 0 !important;
  overflow: hidden;
  width: 0 !important ;
}
[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
[type="file"] + label:hover {
  background-color: #d3460d;
}
[type="file"] + label.btn-1 {
  background-color: #f79159;
  box-shadow: 0 6px #f57128;
  transition: none;
}
[type="file"] + label.btn-1:hover {
  box-shadow: 0 4px #f57128;
  top: 2px;
}
.submit-btn{
    height: 40px;
    width: 150px;
    background: #f15d22;
    color: white;
    outline: none;
    border:none;
}
@media (max-width: 969px) {
  .form-container{
    transform: translate(-50%, -50%);
  }
  .form-container > form>div {
    gap: 0px;
  }
  .form-container > form{
    gap:0px;
  }
  .form-container{
    margin-top: 50px;
  }
}
