html {
  font-size: 16px;
}

.white {
  padding-top: 8%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--grad1);
  color: white !important;
  padding-left: 10%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow: scroll;
  align-content: flex-start;
}
.ce-header{
  color: white;
}

.editor-div {
  
  padding: 1rem;
  padding-top: 2rem;    
  width: 90%;
  min-height: 80vh;
  border-radius: 5px;
  background-color: #353b65;
}
.btn ,.btn-submit{
  height: 50px;
  width: 150px;
  position: fixed;
  bottom: 30px;
  right: 5%;
  background-color: var(--secondary);
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.btn-submit{
    position: absolute;
}
.heading {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #fff;
}
.flex-row {
  display: flex;
  height: fit-content;
  gap: 20px;
}

/* .ce-header{
    background-color: aqua !important;
} */
.confirm{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none;
    z-index: -100;
}
.prompt >span {
  top:15px;
  transform: rotate(45deg);
  left: 30px;
  position: absolute;
  font-size: 30px;
  color: black;
  cursor: pointer;
  z-index: 1000;
}
.prompt{
    min-height: min(400px,30%);
    min-width: min(90%,600px);
    box-shadow: 0px 0px 30px .2px #646363;
    background-color: white;
    animation: popin .7s ease-out;
    transition: all;
    position: relative;
}
@keyframes popin{
    0%{
        transform: translate(0,50px);
        opacity: .4;
    }
    50%{
        transform: translate(0,-40px);
        opacity: .7;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}
.prompt > form{
    padding-block: 30px 70px;
    gap:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
form >h3{
    margin:5px;
    color: black;
}
.plus,.minus{
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    cursor:pointer;
    border-radius: 1.5rem;
    text-align: center;
    background-color: rgb(0,122,255);
}
.minus{
    background-color: rgb(255,59,48);
    transform: rotate(45deg);
}
.email-holder{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.prompt form:hover{
  margin: 0;
}
.email-holder > input,.prompt>form>input {
    width: 300px;
    border: none;
    color: black !important;
    background-color: transparent !important;
    border-bottom: black solid 2px;
    border-radius: 0;
    color: black;
    height: 30px;
    font-size: 18px;
  }
  .email-holder > input:focus,.prompt>form>input:focus {
    outline: none;
  }
  
@media screen and (max-width: 969px) {
  .white {
    padding-inline  : 3%;
  }
  .editor-div{
    width: auto;
  }
  html{
    font-size: 14px;
  }
}
