
.note-card{
    width: min(500px,90%);
    background-color: white;
}
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 11%, 50%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}
.filters-container{
    padding-top: 130px;
    width: 100vw;
    padding-left: 10%;
}
.filters-container input{
    background-color: var(--grad2);
    outline: none;
    border: none;
    padding: 20px;
    margin-right: 10px;
    color: #fff;
}
.sort-button{
    cursor: pointer;
    color: white;
    padding:20px;
    background:var(--grad2)
}
.view-port {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.icon-btn{
    padding: 7px 2px 7px 7px;
    height: fit-content;
}
@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    padding-top: 103px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}

.box ul{
    padding: 0;
}
.box p {
    color: var(--grayishBlue);
}

.box {
    width: max(400px,30%);
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

img {
    float: right;
}
.li-item{
    display: block;
    text-align: left;
    margin-top: 8px;
}


.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}
.icon-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon-container div{
    display: flex;
    align-items: center;
    gap:10px;
}
.icon-container >div>p{
    margin: 0;
}
.pointer{
    cursor: pointer;
}
.row1-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (min-width: 950px) {
    
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header p {
        width: 30%;
    }
    
}