
.Loginworkerdiv > input {
  width: 300px;
  border: none;
  background-color: transparent;
  border-bottom: white solid 2px;
  color: white;
  height: 30px;
  font-size: 18px;
}
.Loginworkerdiv > input:focus {
  outline: none;
}
.signup {
  align-self: center;
  margin-bottom: 50px;
}
.Loginworkerdiv {
  margin: auto;
  height: 100vh;
  width: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}
.Loginworkerdiv > p {
  text-align: start;
  margin: 30px 0 10px 0;
}
.buttn {
  position: relative;
  left: 30px;
  margin-top: 40px;
  width: 150px;
  border-radius: 7px;
  height: 45px;
  background-color: var(--secondary);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}
.signupPadding{
  padding-top: 30px;
}
@media (max-width:969px) {
  html{
    font-size: 10px;
  }
  .signupPadding{
    padding-top: 0px;
  }
  
}
.buttn:hover{
    cursor: pointer;
}
@media (max-width:481px) {
  .signup {
    align-self: center;
    margin-bottom: 30px;
  }
  .Loginworkerdiv > p {
    text-align: start;
    margin: 20px 0 5px 0;
  }
  .Loginworkerdiv > input{
    width:280px;
  }
  .Loginworkerdiv {
    width: 280px;
  }
}